@import 'variable.scss';

.about {
    background-image:url('/hero.jpg');
    height: calc(100vh - 90px);
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 0px !important;
    
    #text {
        background-image: linear-gradient(rgba(29, 24, 24, 0.75), rgba(29, 24, 24, 0.75));
        color: white;
        padding: 25px;
    }

    .entry {
        margin-left: auto;
    }
}
