@import 'variable.scss';

.about {
    background-image:url('/hero.jpg');
    height: calc(100vh - 65px);
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 0px !important;
    
    #text {
        background-image: linear-gradient(rgba(29, 24, 24, 0.85), rgba(29, 24, 24, 0.85));
        color: white;
        padding: 25px;
        line-height: 2em;
    }

    .entry {
        margin-left: auto;
    }

    #contact {
        background-color: $brand-color-secondary !important;
        border-color: $brand-color-secondary-dark !important;
        color: $brand-color-primary;
        font-weight: bold;
        text-shadow: 1px 1px black;
    }

    #contact:hover {
        border-color: $brand-color-secondary !important;
    }
}
