@import 'variable.scss';

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url(../fonts/Roboto-Thin.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Roboto-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body, html, #root {
  height: 100vh;
  width: 100%;
}

a {
  color: $brand-color-primary;
  font-weight: bold;
}

.centered-text {
  text-align: center;
}