@import 'variable.scss';
.projects {
    width: 100%;

    img {
        border: 1px solid black;
        width: 600px;
        height: 400px;
    }
    
    .title {
        padding-bottom: 10px;
    }
    
    hr {
        width: 25%;
        border-color: $brand-color-secondary;
    }
    
    .description {
        margin-top: 15px;
        width: 50%;
    }

    .item-enter {
        opacity: 0;
    }
    
    .item-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .item-exit {
        opacity: 1;
    }

    .item-exit-active {
        opacity: 0;
        transition: opacity 500ms ease-in;
    }
}