@import 'variable.scss';

#projects img {
    border: 1px solid black;
    width: 600px;
    height: 400px;
}

#projects {
    width: 100%;
}

.title {
    padding-bottom: 10px;
}

#projects hr {
    width: 25%;
    border-color: $brand-color-secondary;
}

.description {
    margin-top: 15px;;
    width: 50%;
}