@import 'variable.scss';
.projects {
    width: 100%;

    img {
        border: 1px solid black;
        width: 600px;
        height: 400px;
    }
    
    .title {
        padding-bottom: 10px;
    }

    .git {
        text-transform: uppercase;
    }
    
    hr {
        width: 25%;
        border-color: $brand-color-secondary;
    }
    
    .description {
        margin-top: 15px;
        width: 75%;
    }
}